<div class="div text-center">

  <h1 class="sm:text-3xl text-3xl font-bold title-font text-green-500 mb-4 animate-bounce">Projects</h1>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 gap-8 md:grid-cols-3 lg:gap-8  p-4">



  <!-- card  -->


  <div class="cont h-32 rounded-lg bg-green-500 shadow shadow-green-500">
    <h1 class="pt-12 p-4 text-2xl text-white font-bold ">PostHub</h1>
    <h1 class="px-4 pb-2 text-1xl text-white font-bold ">September 2025 - Present</h1>
    <p class="p-4 pt-0 text-white text-sm">
      PostHub is a full-stack project designed to provide a simple and clean space for sharing ideas and stories. It
      combines frontend, backend, and database integration to create a smooth and engaging user experience.
      <br>
      <button>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span>
          <a href="https://post-hub-frontend.vercel.app/">

            Explore</a></span>
      </button>


    </p>



  </div>
  <div class="cont h-32 rounded-lg bg-green-500 shadow shadow-green-500">
    <h1 class="pt-12 p-4 text-2xl text-white font-bold ">Whatsapp with Meta AI</h1>
    <h1 class="px-4 pb-2 text-1xl text-white font-bold ">May 2024 - Feb 2023</h1>
    <p class="p-4 pt-0 text-white text-sm">
      WhatsAppClone is a modern messaging app with Meta AI, offering smart replies, translations, voice-to-text, and
      intelligent search for faster, smarter communication.
      <br>
      <button class="mt-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span><a href="https://github.com/Malik-M-Umair/Whatsapp-Meta-AI">Explore</a></span>
      </button>

    </p>


  </div>
  <div class="cont h-32 rounded-lg bg-green-500 shadow shadow-green-500">
    <h1 class="pt-12 p-4 text-2xl text-white font-bold ">

      E-Commerce</h1>
    <h1 class="px-4 pb-2 text-1xl text-white font-bold ">Oct 2024 - Oct 2024</h1>
    <p class="p-4 pt-0 text-white text-sm">
      I developed an E-Commerce Store featuring a modern design, smooth navigation, responsive layouts, and a secure
      checkout experience. This project highlights my frontend development skills and passion for creating seamless web
      applications.
      <br>
      <!-- From Uiverse.io by adamgiebl -->
      <button>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span>
          <a href="https://ariesian-tech.github.io/E-Commerce/">

            Explore</a></span>
      </button>

    </p>



  </div>

</div>
<div class="div  h-30">

</div>

<!-- end card  -->

<!-- card  -->





<!-- end card  -->

<!-- card  -->





<!-- end card  -->

<!-- card  -->





<!-- end card  -->

<!-- card  -->





<!-- end card  -->

<!-- card  -->




<!-- end card  -->

<!-- card  -->





<!-- end card  -->

<!-- card  -->




<!-- end card  -->

<!-- card  -->



<!-- end card  -->