<section class=" body-font ">
  <div class="container mx-auto flex px-5 gap-8 py-15 md:flex-row flex-col-reverse items-center justify-center ">
    <div class="lg:flex-grow md:w-1/2  justify-center  lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium ">Malik Muhammad Umair
        <br>
        <br class="hidden lg:inline-block">Full Stack <b class="font-medium text-green-500 animate-bounce" >Developer</b>
      </h1>
      <p class="mb-8 leading-relaxed">I am a Full Stack Developer specializing in building scalable and user-friendly web applications. My technical expertise includes frontend development with Angular, TypeScript, JavaScript, and Tailwind CSS, as well as backend development using Java and Spring Boot. I also have strong skills in database management with MySQL. With a solid foundation in software engineering, I focus on delivering complete, efficient, and high-quality solutions. </p>
      <div class="flex justify-center">
        <button class="inline-flex text-white bg-green-500 border-0 py-2 cursor-pointer px-6 focus:outline-none hover:bg-green-600 rounded text-lg animate-bounce"><a href="#cn" >Hire Me</a></button>
        <button class="ml-4 inline-flex text-white bg-green-500 border-0 cursor-pointer py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg animate-bounce"><a href="Updated CV.pdf" download>Download CV</a></button>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/5 flex  justify-center ">
      <img class="   object-cover object-center rounded-full h-80 shadow-2xl shadow-green-600" alt="hero" src="umair.png">
    </div>
  </div>
</section>
